extends layout

block css
    link(rel="stylesheet", href="/css/divs.css")

block content
    div.gameContainer
    div
        a(id='createGame')='Create a Game'
        ul(id='reciever')
        ul(id='openGames')
    div(id='instructions')
        h3='SlideWar'
        p='Click tiles on the left to deploy from your base. Swipe tiles to move and attack. Capture the enemy flag or capture the enemy base while the flag is in the base to win. RPS rules of engagement apply'
