extends layout

block css
    link(rel="stylesheet", href="/css/divs.css")

block content
    div.gameContainer
    div
        a(id='joinGame')='Create a Game'
        ul(id='reciever')
        ul(id='openGames')
