extends layout

block css
    link(rel="stylesheet", href="/css/divs.css")

block content
    div.area
        div.clicky.red
        div.clicky.blue
        div.clicky.violet
    div
        a(id='sender')='Send a Message'
        ul(id='reciever')
