extends layout

block css
    link(rel="stylesheet", href="/css/divs.css")

block content
    div.gameContainer
        div.tile(data-id="23")
        div.tile(data-id="12")
    div
        a(id='sender')='Send a Message'
        ul(id='reciever')
