.clicky{
    width: 200px;
    height: 200px;
    float: left;
    padding: 10px;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.violet{
    background-color: violet;
}
.gameContainer{
    padding: 10%;
    margin: 10% auto;
    height: 80%;
    background-color: #EDEFF3;
}
.tile{
    width: 60px;
    height: 90px;
    border: 1px solid teal;
}
