.clicky{
    width: 200px;
    height: 200px;
    float: left;
    padding: 10px;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.violet{
    background-color: violet;
}
.gameContainer{
    position: relative;
    margin: 10px auto;
    height: 540px;
    width: 420px;
    background-color: #EDEFF3;
}
.tile{
    position: absolute;
    width: 60px;
    height: 90px;
    border: 1px solid teal;
    background-color: #CDCFF1;
}
.yours{
    background-color: #C2FDD5;
}
div.active{
    border: 1px solid aqua;
}
