.clicky{
    width: 200px;
    height: 200px;
    float: left;
    padding: 10px;
}

.gameContainer{
    position: relative;
    margin: 10px auto;
    height: 630px;
    width: 420px;
    background-color: #EDEFF3;
    background-image: url('/images/gamebg.png');
}
.tile{
    position: absolute;
    width: 60px;
    height: 90px;
    background-color: #B99d80;
    display: none;
}
div.yours{
    display: block;
    background-color: #888dad;
}
div.active{
    display: block;
}
div.captured{
    display: block;
}
div.killed{
    left: 420px;
}
.one{
    background-image: url('/images/one.png');
}
.two{
    background-image: url('/images/two.png');
}
.three{
    background-image: url('/images/three.png');
}
.spy{
    background-image: url('/images/spy.png');
}
.bomb{
    background-image: url('/images/bomb.png');
}
.flag{
    background-image: url('/images/flag.png');
}
